<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
            class={modalClass}>
        <div class="slds-modal__container">
          <header class={headerClass}>
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                <lightning-icon
                    icon-name="utility:close"
                    alternative-text="close"
                    variant="inverse"
                    size="small"
                    onclick={handleClose}>
                </lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{title}</h2>
            <p class="slds-m-top_x-small">{tagline}</p>
          </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <slot name="body"></slot>
            <div class="slds-text-align_center">{body}</div>
          </div>
          <template if:false={hideFooter}>
            <footer class="slds-modal__footer">
                <lightning-button variant="brand" label={closeLabel} onclick={handleClose}></lightning-button>
              </footer>
          </template>
        </div>
      </section>
      <template if:false={hideBackdrop}>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
</template>