<template>
    <lightning-button label="Full Modal" name="fullModal" onclick={handleShowModal}></lightning-button>
    <lightning-button label="Headless Modal" name="headlessModal" onclick={handleShowModal}></lightning-button>
    <lightning-button label="Footless Modal" name="footlessModal" onclick={handleShowModal}></lightning-button>
    <lightning-button label="Body Markup Modal" name="bodyMarkupModal" onclick={handleShowModal}></lightning-button>

    <template if:true={showFullModal}>
        <c-custom-modal
            modal-name="fullModal"
            body="This is the body text for a full modal, which includes a title and tagline. It also contains a customized label for the close button."
            title="Large Full Modal"
            tagline="This is a tagline that goes beneath the title"
            close-text="Okay"
            modal-size="large"
            onclosemodal={handleCloseModal}>
        </c-custom-modal>
    </template>

    <template if:true={showHeadlessModal}>
        <c-custom-modal
            modal-name="headlessModal"
            body="This is a headless modal that does not have a title or a tagline. It also has the default close button label."
            onclosemodal={handleCloseModal}>
        </c-custom-modal>
    </template>

    <template if:true={showFootlessModal}>
        <c-custom-modal
                modal-name="footlessModal"
                body="This is the body of a modal where we hide the footer. We also hide the dark backdrop."
                title="Small, Footless Modal With No Backdrop"
                hide-footer=true
                hide-backdrop=true
                modal-size="small"
                onclosemodal={handleCloseModal}>
        </c-custom-modal>
    </template>

    <template if:true={showBodyMarkupModal}>
        <c-custom-modal
            modal-name="bodyMarkupModal"
            title="Modal Using Body Slot"
            onclosemodal={handleCloseModal}>
            <span slot="body">
                <b>We can also pass a body through </b><i>the slot if we need to include </i><a href="javascript:void(0);">more complex markup!</a>
            </span>
        </c-custom-modal>
    </template>
</template>